Package: haroopad
Version: 0.13.1
Installed-Size: 75394
Section: office
Maintainer: Rhio Kim <rhio.kim@gmail.com>
Homepage: http://pad.haroopress.com
Priority: extra
Architecture: amd64
Description: The Next Document processor based on Markdown
 Haroopad is a markdown enabled document processor for creating web-friendly documents.
 You can author various formats of documents such as blog article, slide, presentation, report, and e-mail as if experts did.
 Haroopad gives you same experiences in editing regardless of the platform you are working on. It runs on all three major operating systems—Windows, Mac OS X, and Linux.
